* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none;
    line-height: 1.5;
     font-size: 16px;
    line-height: 28px;
    letter-spacing: 2px;
}

h1{
    color:aqua;
    background-color: darkgrey;
     text-decoration: line-through;

}
footer {
    color:aliceblue;
    background-color: darkorange;
}
#html{
    color: blueviolet;
    background-color: black;
}
#c{
    color: rgb(10, 156, 107);
    background-color: rgb(230, 26, 26);
}

#css{
    color: rgb(177, 226, 43);
    background-color: rgb(101, 48, 217);
}
