* {
  font-family: "courier new";    
}
h1, h3{
    color : #b92b27;
}

.upvote{
    color : #b92b27;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}
p a {
    color: #1b74e4;
    text-decoration: none;
}
p + h3 {
    text-decoration: underline;
}
.upvote + button {
    color : #b92b27;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}
div > input {
    color : #b92b27;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}